{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron jumbotron-fluid pb-2">
  <div class="container">
    <h1 class="display-3">{{ name }}</h1>
    <p>此頁為所有電影的列表，歡迎註冊帳號並新增你的評分。</p>
    {% comment %} <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>  {% endcomment %}
  </div>
</div>
<div class="container">
  <div class="row">
      {% for movie in movies %}
      <div class="col-md-4" style="width: 20rem;">
              {% comment %} <div class="card-body">
                  <h5 class="card-title">{{ movie.id }}</h5>
                  <p class="card-text">{{ movie.movie_name }} . . .</p>
                  <a class="btn btn-primary" href="{{ movie.movie_name }}">內容</a>
              </div> {% endcomment %}
            <h2>{{ movie.movie_name }}</h2>
            <img src="{% static '' %}{{ movie.movie_poster }}" alt="Poster" height="400"/>
            <p>{{ movie.description }}</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      {% endfor %}
  </div>
</div>
<hr>

{% endblock %}