{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid pb-2">
  <div class="container">
    <h1 class="display-3">{{ name }}</h1>
    <p>此頁為電影的詳細資訊，歡迎進行修改。</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3">
      <img src="../../..{{ MEDIA_URL }}{{ movie.movie_poster }}" alt="Poster" class="img-fluid"/>
    </div>
    <div class="col-9">
      <h2 class="mb-0">{{ movie.movie_name }}</h2>
      <div class="mb-1 text-muted">{{ movie.published_year }}</div>
      <p class="mb-auto mt-2">{{ movie.description }}</p>
      <div class="col-1 ml-auto mt-5"><a href="/movie/home/get_all_data" class="btn btn-secondary" role="button">Back</a></div>      
    </div>
  </div>
</div>
<hr>
{% endblock %}