{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid pb-2">
  <div class="container">
    <h1 class="display-3">{{ name }}</h1>
  </div>
</div>
<div class="container">
  <form method="post" action={% url 'post_movie' %} class="align-items-center align-middle" enctype="multipart/form-data">
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Movie name</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="movie_name">
      </div>
    </div>
    <div class="row mb-3 align-items-center">
      <label class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <textarea class="form-control" name="description" rows="5"></textarea>
      </div>
    </div>
    <div class="row mb-3 align-items-center">
      <label class="col-sm-2 col-form-label">Published year</label>
      <div class="col-sm-10">
        <select class="form-select" aria-label="Default select example" name="published_year">
          <option selected disabled>---Select---</option>
          {% for y in years %}
            <option value={{ y }}>{{ y }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mb-3 align-items-center">
      <label for="formFile" class="col-sm-2 form-label">Movie poster</label>
      <div class="col-sm-10">
        <input class="form-control" type="file" id="formFile" name="file">
      </div>
    </div>
    <div class="col">
      {% csrf_token %}
      <button class="btn btn-primary btn-block">Submit</button>
    </div>
  </form>

</div>
<hr>

{% endblock %}
