{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid pb-2">
  <div class="container">
    <h1 class="display-3">{{ name }}</h1>
  </div>
</div>
<div class="container">
    <form method="post" action="post_signup">
    <label>Enter your Name</label>
    <input class="form-control" type="text" name="username">
    <label>Enter your Age</label>
    <input class="form-control" type="text" name="age"><br>
    {% csrf_token %}
    <button class="btn btn-primary btn-block">Submit</button>
    </form>
</div>
<hr>

{% endblock %}